body{
    background-color: bisque;
}
h1{
    text-align: center;
    color:rgb(121, 121, 121)
}
#cat{
    text-align: center;
}
h2{
    background-color:coral;
    color:navy;
    text-decoration:underline;
}
#profile{
    letter-spacing:1mm;
}
em{
    color:rgb(88, 87, 87);
    font-size: 3mm;
}