<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = 'UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>연예뉴스 기사분류</title>
        <link type="text/css" rel="stylesheet" href="static/css/sub.css">
    </head>
    <body>
        <iframe src="/navi" width="100%" height="350px" frameborder="0" scrolling="no"></iframe>
        <hr/>
        <div class="content">
            <img src="static/image/신문.png" height="200px">
            <form>
                <textarea name="news" cols="50" rows="10" placeholder="기사 한문단을 입력하세요."></textarea><br>
                <input type="submit">
            </form>
        </div>
        <hr/>
        <iframe id="footer" src="/footer" width="100%" height="500px" frameborder="0" scrolling="no"></iframe>
    </body>
</html>