
p{background-color: beige;}
#secondP{background-color:cadetblue; color:brown; font-weight: :bold;}
body{align-content: center;
    background-image: url('../cat.jpg');}
.mon{background-color: hotpink;}