<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가사생성프로그램</title>
    <link rel="icon" href="{{ url_for('static', filename='images/music.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body>
    <iframe src="/navi"></iframe>
    <form method="post">
        <table align="center">
            <tr>
                <td colspan="2">가사 입력</td>
            </tr>
            <tr>
                <td colspan="2"> <textarea cols="40" rows="10" placeholder="시작가사를 입력하세요" name="start"></textarea></td>
            </tr>
            <tr>
                <td> 생성길이입력</td>
                <td><input type="text" placeholder="원하는 길이를 입력하세요" name="length"></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><input type="submit" value="가사 생성"></td>
            </tr>
        </table>
    </form>
</body>
</html>